# 実証データから分布を導出

### 就業構造基本調査　全国結果

In [5]:
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
# ヒストグラムにしてデータを出力

def plot_histogram(data_frame, column_name, bins=10):
    """
    データフレームの指定された列の分布をヒストグラムとして表示する関数

    Parameters:
        data_frame (pandas.DataFrame): データフレーム
        column_name (str): ヒストグラムを作成する列の名前
        bins (int, optional): ビンの数（ヒストグラムの幅を調整）

    Returns:
        None
    """
    # ヒストグラムをプロット
    plt.hist(data_frame[column_name], bins=bins)
    
    # グラフのタイトルとラベルを設定
    plt.title(f'Histogram of {column_name}')
    plt.xlabel(column_name)
    plt.ylabel('Frequency')
    
    # ヒストグラムを表示
    plt.show()

In [72]:
# xlsxファイルのパス
file_path = 'a043.xlsx'

# xlsxデータをデータフレームに読み込む
df = pd.read_excel(file_path, header=9, usecols=[10], skipfooter=6103)
df.columns=["popula"]
df.index=["-50", "50-99", 
          "100-149", "150-199", 
          "200-249", "250-299", 
          "300-399", "400-499", 
          "500-599", "600-699", 
          "700-799", "800-899",
          "900-999", "1000-1249",
          "1250-1499", "1500-"]
display(df)

# データフレームを加工
#df_all = df.loc[[1, 16], "Unnamed: 10"]
#display(df_all)

# ヒストグラムをプロット
#plot_histogram(df, 'column_name')

     popula
0   3494200
1   6782200
2   6039500
3   4196800
4   6627700
5   5189600
6   9457800
7   7155300
8   4903300
9   3425500
10  2415300
11  1596600
12  1034500
13  1471400
14   423400
15   672700